<!DOCTYPE html>
<html>
<head>
	<title>Image Captioner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0 1rem">
    <a class="navbar-brand" href="/">Image Captioner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/images">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/images/new">Upload</a>
        </li>
        </ul>
        <span class="navbar-text" style="padding: 0 0;">
            <ul class="navbar-nav mr-auto">
                <%if(!currentUser){%>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                <%}else{%>
                    <li class="nav-item"><a class="nav-link" href="/user/<%=currentUser._id%>">Signed In As <%=currentUser.username %></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                <%}%>
            </ul>
        </span>
    </div>
</nav>