<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="jumbotron">
		<h1 style="text-align: center;">Welcome to Image Caption Generator!</h1>
	</div>
	<div>
		<a href="/images" class="btn btn-lg btn-success">View Sample Images</a>
	</div>
</body>
</html>
