<% include partials/header %>

<div class="jumbotron">
	<h1 style="text-align: center;">Welcome to Image Caption Generator!</h1>
</div>
<div>
	<a href="/images" class="btn btn-lg btn-success">View Sample Images</a>
</div>

<% include partials/footer %>
