<% include partials/header %>
	<div class="jumbotron">
		<h1 style="text-align: center;">Generated Caption</h1>
	</div>
	<div class="mx-auto">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<h1 style="text-align: center;">Image</h1>
					<div class="thumbnail">
						<img class="img-fluid img-thumbnail rounded mx-auto d-block" alt="Responsive image" src="<%=Image.img_path%>">
						<h1 style="text-align: center;">Caption: <span style="font-weight: bolder;"><%=Image.img_caption%></span></h1>
						<form class="delete-form" action="/images/<%=Image._id%>?_method=DELETE" method="POST">
							<a href="/images" class="btn btn-lg btn-success">Home</a>
							<input type="submit" class="btn btn-lg btn-danger" value="Delete">	
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include partials/footer %>
