<!DOCTYPE html>
<html>
<head>
	<title>Image Captioner</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		body{
			background: url("https://images.unsplash.com/photo-1461958508236-9a742665a0d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
			background-size: cover;
			background-position: center;
			font-family: Lato;
			color:white;
			height:100%;
		}
		h1{
			text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		}
		html{
			height:100%;
		}
		#landing-header{
			z-index: 1; 
			position: relative; 
			text-align: center; 
			padding-top: 40vh;
		}
	</style>
</head>
<body >
	<div id="landing-header">
		<h1>Welcome to Image Caption Generator!</h1>
		<a href="/images" class="btn btn-lg btn-success">View Sample Images</a>
	</div>
</body>
</html>
